body{
    font-family: 'Titillium Web', sans-serif;
}
*{
    margin:0; 
    box-sizing: border-box;
}
 /*-- REUSEABLE STYLE --*/
 
h1{
    font-size: 50px;
    margin: 0px;
}
h2{
    font-size: 40px;
    margin:0;
}
h3{
    font-size: 25px;
    color:#13103A;
}
p{
    font-size: 16px;
    color:#333;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.link-btn{
    color:rgb(245, 240, 240);
    padding: 7px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color:#F49760;
    border-radius: 4px;
    text-decoration: none;
}
.half-width{
    width:50%;
    margin-left: 5%;
}
.half-width img{
    width:80%;
 
}
.flex-used{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly; 
    margin-bottom: 120px;  
}
/*--- HEADER SECTION ---*/

.header-section{
    background-color: #ffff;
}
.focused-title{
    margin-top: 120px;
    border-image: linear-gradient(#F49760,#F49760);
    border-image-slice: 1;
    border-left: 3px solid;
    /* margin-top: 120px;
    border-left: 3px solid red;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; */
}
.focused-title h1{
    margin-left: 20px;
}
.mission-color{
    color:#FF6F59;
}
.scroll-down{
    margin-top: 40px;
    color:#13103A;
}
/*-- MISSION SECTION--*/

.my-mission-section h1{
    text-align: center;
    margin-bottom: 40px;
    color:#13103A;
}
.my-gools{
   width:27%;
   padding: 26px;
   border-radius: 15px;
}
.my-gools img{
    width:50%;
    margin-left:-10%;
}
#mission{
    background-color:#e7f2f3c2;
}
#vission{
    background-color: #ebd8ceb4;
}
#gools{
    background-color: #f7d5d0a1;
}
/*-- DEVELOP SECTION --*/

.content-part{
    width:50%;
    margin-right: 5%;
    margin-left: 0%;
    margin-top:50px;
}
.image-part{
    width:40%;
}
.develop-section{
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}
/*-- GLOBAL COMMUNITY SECTION --*/
.global-community-section{
    background-image: url(../images/shapes/shape-4.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size:20%;
}
.global-community-section .content-part{
    margin-right: 0%;
    margin-left: 5%;
} 
/*-- CONTANT SECTION --*/
.contact-section h2{
    text-align: center;
    margin-bottom: 50px;
}
/* .contact-section{
    background-image: url(../images/shapes/shape-4.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size: 20%;
} */
.contact-flex{
    width:100%;
    display: flex;
    justify-content: center;
}
.contact-flex form{
    width:70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.field{
    width:100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    color:#333;
    font-weight: 600;
    outline: none;
    border:none;
    background-color: #ddd;
}
.email-name{
    display: flex;
    flex-direction: row;
}
.email-name .field{
    margin-right: 10px;
}
.email-name .field:nth-child(2){
    margin-right: 0;
}
.submit-btn{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 11px 10px;
    background-color: #FF6F59;
    color:#13103A;
    border:none;
    font-size: 16px;
    font-weight: 700;
}

/*-- FOOTER SECTION --*/
.footer-section{
    text-align: center;
    background-color: #0b0d17;
    padding: 6px 0px;
}
.footer-section p{
    font-size: 12px;
    color:#444
}
.footer-section h3{
    margin:0;
    margin-top: 20px;
    font-size: 30px;
    color: #f0f0f0;
}
